<p> Daftar obat dengan kategori Internist</p> 
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama Obat</th>
      <th scope="col">Komposisi</th>
      <th scope="col">Dosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ANALSPEC<br/>Untuk menghilangkan rasa nyeri dari ringan sampai sedang dalam kondisi akut dan kronik</td>
      <td>Tiap kaplet mengandung Asam mefenamat 500 mg</td>
      <td>Dewasa dan anak dengan dosis awal yang dianjurkan 1 kaplet, kemudian ½ kaplet tiap 6 jam</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ASAMNEX<br/>Perdarahan-perdarahan yang melibatkan peningkatan<br/> aktivitas fibrinolisis sistemik seperti pada penyakit leukemia,<br/> anemia hipoplastik, purpura, perdarahan selama /sesudah operasi.</td>
      <td>Tiap tablet salut selaput mengandung Tranexamic acid 500 mg</td>
      <td>3 – 4 x 250 – 500 mg sehari.<br/>
    Dosis harus disesuaikan dengan keadaan pasien.<br/>
    Pada pasien yang mengalami gangguan fungsi ginjal, dosis yang dianjurkan adalah:<br/>
	Serum Kreatinin 120 – 150 u mol/ℓ, Dosis 15 mg/kg BB,Frekuensi 2 x sehari<br/>
Serum Kreatinin 250 – 500 u mol/ℓ,Dosis 15 mg/kg BB,Frekuensi 1 x sehari<br/>
Serum Kreatinin > 500 u mol/ℓ, Dosis 7,5 mg/kg BB,Frekuensi 1 x sehari
</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>BIOSAN<br/>Infertilitas, Disfungsi ereksi, Rendah libido</td>
      <td>Tiap tablet mengandung Ekstrak Tribulus Terrestris 275 mg</td>
      <td>Infertilitas: 3 kali sehari 1 – 2 tablet, 60 – 90 hari<br/>
    Disfungsi ereksi: 3 kali sehari 1 – 2 tablet, 30 – 40 hari<br/>
    Rendah libido: 2 kali sehari 1 tablet, 10 hari
</td>
<tr>
      <th scope="row">4</th>
      <td>CEFTRIMET<br/>Septikemia, meningitis, infeksi abdominal <br/>(peritonitis, infeksi pada empedu dan saluran pencernaan), infeksi tulang, sendi, kulit dan struktur kulit, infeksi ginjal dan saluran kemih, infeksi saluran pernapasan, profilaksis perioperative.</td>
      <td>Ceftriaxone disodium sterile 1.194 gram
setara dengan Ceftriaxone 1 gram</td>
      <td>
    Profilaksis perioperative: 1 – 2 gram dosis tunggal (30 – 90 menit sebelum operasi).<br/>
    Meningitis: Bayi dan anak – anak pengobatan dimulai dengan dosis 100 mg/kg BB (jangan melebihi 4 gram) sekali sehari.<br/>
    Gangguan fungsi ginjal dan fungsi hati: Klirens kreatinin < 10 mL/menit, dosis tidak boleh melampaui 2 gram sehari.<br/>
    Infeksi kuman: 1 – 2 gram pemberian, sekali sehari atau pun dalam dosis terbagi (2 kali sehari).
</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>KADIFLAM<br/>Nyeri, inflamasi dan pembengkakan pasca trauma, misal karena keseleo.<br/>
Nyeri, inflamasi dan pembengkakan pasca bedah, misal pada pembedahan gigi atau tulang.</td>
      <td>Tiap tablet salut selaput mengandung Diclofenac potassium 50 mg</td>
      <td>Dewasa, dosis maksimal 100 mg per hari (dosis awal maksimal 150 mg sehari pada hari pertama) dalam dosis terbagi dan dengan durasi sesingkat mungkin.<br/>
    Apabila berdasarkan penilaian dokter diperlukan dosis yang lebih tinggi, harus ada pertimbangan manfaat-resiko dengan baik.<br/>
    Tablet KADIFLAM® harus ditelan secara utuh dengan cairan.
</td>
    </tr>
  </tbody>
</table>