<p> Daftar obat dengan kategori Pediatric</p> 
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama Obat</th>
      <th scope="col">Komposisi</th>
      <th scope="col">Dosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ASAMNEX<br/>Perdarahan-perdarahan yang melibatkan peningkatan<br/> aktivitas fibrinolisis sistemik seperti pada penyakit leukemia,<br/> anemia hipoplastik, purpura, perdarahan selama /sesudah operasi.</td>
      <td>Tiap tablet salut selaput mengandung Tranexamic acid 500 mg</td>
      <td>3 – 4 x 250 – 500 mg sehari.<br/>
    Dosis harus disesuaikan dengan keadaan pasien.<br/>
    Pada pasien yang mengalami gangguan fungsi ginjal, dosis yang dianjurkan adalah:<br/>
	Serum Kreatinin 120 – 150 u mol/ℓ, Dosis 15 mg/kg BB,Frekuensi 2 x sehari<br/>
Serum Kreatinin 250 – 500 u mol/ℓ,Dosis 15 mg/kg BB,Frekuensi 1 x sehari<br/>
Serum Kreatinin > 500 u mol/ℓ, Dosis 7,5 mg/kg BB,Frekuensi 1 x sehari
</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>MESTAMOX 500<br/>Infeksi saluran pernafasan atas dan bawah, <br/>Infeksi kulit dan jaringan lunak, infeksi saluran pencernaan<br/> yang disebabkan oleh bakteri gram positif dan negative.</td>
      <td>Tiap kapsul mengandung Amoxicillin Trihydrate 575 mg,setara dengan Amoxicillin 500 mg</td>
      <td>Dewasa dan anak – anak dengan berat badan > 20 kg: 250 – 500 mg tiap 8 jam<br/>
    Anak – anak dengan berat badan < 20 kg: 20 – 40 mg / kg BB sehari dalam dosis bagi tiap 8 jam.
</td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>PEDIMIN Drops<br/>Membantu memenuhi kebutuhan multivitamin<br/> terutama pada anak – anak.</td>
      <td>Tiap mL ( 20 tetes ) mengandung Vit. A 3500 IU, Vit. D2 300 IU,Vit. B1 2 mg, Vit. B2 1,5 mg,<br/> Vit. B6 1,5 mg,
Vit. B12 4,5 mcg, Nicotinamid 15 mg, Pantotenol 7,5 mg<br/>
Bahan tambahan: Sucrose, Sorbitol, Potassium Sorbate, Natrium Benzoat, Asam Sitrat, Strawberry essence.</td>
      <td>Dewasa dan anak – anak dengan berat badan > 20 kg: 250 – 500 mg tiap 8 jam<br/>
    Anak – anak dengan berat badan < 20 kg: 20 – 40 mg / kg BB sehari dalam dosis bagi tiap 8 jam.
</td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>THISLACOL<br/>Untuk infeksi yang disebabkan oleh: Salmonella sp., H. Influenzae<br/> (hanya untuk infeksi meningeal), Rickettsia,<br/> Lymphogranuloma psittacosis, bakteri gram negatif yang menyebabkan bakteremia meningitis. Tidak digunakan untuk Hepatobilier dan Gonorrhoeae.</td>
      <td>Tiap kapsul mengandung Thiamphenicol 500 mg</td>
      <td>
    Dewasa, anak-anak, bayi berumur di atas 2 minggu :
    50 mg/kg BB/hari dalam dosis terbagi 3 – 4 x sehari<br/>
    Bayi prematur:
    25 mg/kg BB/hari dalam dosis terbagi 4 x sehari<br/>
    Bayi berumur di bawah 2 minggu :
    25 mg/kg BB/hari dalam dosis terbagi 4 x sehari</td>
</tr>
<tr>
      <th scope="row">5</th>
      <td>XEPAFEN Forte<br/>Meringankan nyeri ringan sampai sedang antara lain nyeri pada nyeri haid (dismenore primer), nyeri sakit gigi, sakit kepala.</td>
      <td>Tiap 5 mL (1 sendok takar) mengandung:
Ibuprofen 200 mg.</td>
      <td>Dewasa dan anak usia 8-12 tahun: 1 sendok takar (5 mL) 3 – 4 kali sehari<br/>
Anak usia 3 – 7 tahun: 1/2 sendok takar (2.5 mL) 3 – 4 kali sehari</td>
    </tr>
  </tbody>
</table>