  <div class="jumbotron jumbotron-fluid">
  <div class="container" src="assets/bg.jpeg">
    <h1 class="display-4">Expelliarmus Farma</h1>
    <p class="lead">Pharmaceutical industry.</p> 
	<p> Welcome to our site!<br/> -- Providing value added products and caring for our customers are our key success in the pharmaceutical industry--</p>
  </div>
</div>