<p>
  Thank you for your interest!<br/> 
Please feel free to contact us if you have questions regarding our products,business development or if you have any feedback for us.<br/> 
We will redirect your email to the appropriate department. <br/><br/>
<iframe src=<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.5774902254348!2d110.37987671428365!3d-7.834461194354844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a57004d0fd543%3A0x4b7f51a56cd00cd4!2sGg.+Yudhistira%2C+Tamanan%2C+Banguntapan%2C+Bantul%2C+Daerah+Istimewa+Yogyakarta+55191!5e0!3m2!1sid!2sid!4v1554355910947!5m2!1sid!2sid" 
width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe><br/>

<b>--HEAD OFFICE--</b><br/>
Gg. Yudhistira No.14<br/>
Tamanan, Yogyakarta, Indonesia
<br/>
Phone: +62303-090299 / 119-1965<br/>
Fax: +62303 825-0889<br/>
Email: Expelliarmusfarma@info.co.id
</p>
