<div class="card-group">
  <div class="card">
    <img src="assets/ANALSPEC.png" width="250px" height="250px" class="card-img-top" alt="ANALSPEC">
    <div class="card-body">
      <h5 class="card-title">ANALSPEC</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>Tiap kaplet mengandung:<br/>Asam mefenamat 500 mg<br/><b>CARA KERJA OBAT</b><br/>
Asam mefenamat (Mefenamic acid) merupakan kelompok antiinflamasi non steroid, bekerja dengan cara menghambat sintesa prostaglandin dalam jaringan tubuh dengan menghambat enzim siklooksigenase sehingga mempunyai efek analgesik, antiinflamasi dan antipiretik.
<br/><b>DOSIS</b><br/>
Dewasa dan anak dengan dosis awal yang dianjurkan 1 kaplet, kemudian ½ kaplet tiap 6 jam.
<br/><b>KEMASAN</b><br/>
Box, isi 10 strip @ 10 kaplet salut selaput<br/>
Reg. No. DKL 9116105609B1</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/KADIFLAM-50.png" width="250px" height="250px" class="card-img-top" alt="KADIFLAM-50">
    <div class="card-body">
      <h5 class="card-title">KADIFLAM</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>Tiap tablet salut selaput mengandung:<br/>Diclofenac potassium 50 mg<br/>
	  <b>CARA KERJA</b><br/>
    Diclofenac potassium adalah suatu zat non-steroid yang mempunyai efek analgesik, anti-inflamasi dan antipiretik.
    Diclofenac potassium bekerja menghambat biosintesis prostaglandin yang mempunyai peranan sebagai penyebab dari inflamasi, nyeri dan demam.<br/>
<b>POSOLOGI</b><br/>
    Dewasa, dosis maksimal 100 mg per hari (dosis awal maksimal 150 mg sehari pada hari pertama) dalam dosis terbagi dan dengan durasi sesingkat mungkin.
    Apabila berdasarkan penilaian dokter diperlukan dosis yang lebih tinggi, harus ada pertimbangan manfaat-resiko dengan baik.
    Tablet KADIFLAM harus ditelan secara utuh dengan cairan.<br/>
<b>KEMASAN</b><br/>
Dus 5 strip @ 10 tablet salut selaput
Reg. No. DKL 0116109917B1
	  </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/METOPAIN-03.png" width="250px" height="250px" class="card-img-top" alt="METOPAIN">
    <div class="card-body">
      <h5 class="card-title">METOPAIN</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>
Tiap mL larutan injeksi mengandung:<br/> Ketorolac trometamol 30 mg Ethanol 10% b/v<br/>
<b>FARMAKOLOGI</b><br/>
Metopain merupakan obat Anti Inflamasi Non Steroid ( AINS ) yang menghambat sintesis prostaglandin dan dapat dipertimbangkan aksi analgesik perifernya.<br/>
<b>INDIKASI</b><br/>
Untuk nyeri akut ( < 5 hari ) yang membutuhkan analgesik setingkat dengan opioid, biasanya pada kasus setelah operasi.<br/>
<b>KEMASAN</b><br/>
Dus, 6 ampul @ 1 mL
Reg. No. DKL 1616112143 A1
</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img src="assets/Tramazed.png" width="250px" height="250px" class="card-img-top" alt="Tramazed">
    <div class="card-body">
      <h5 class="card-title">TRAMAZED</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>Tiap tablet salut selaput mengandung:<br/>Tramadol HCl 37,5 mg Paracetamol 325 mg
<b>POSOLOGI DAN ATURAN PEMAKAIAN</b><br/>
Kecuali diresepkan lain, Tramazed dapat diberikan dengan aturan dosis sebagai berikut:<br/>
DEWASA DAN ANAK DIATAS 16 TAHUN
Dosis tunggal maksimum Tramazed adalah 1 sampai 2 tablet tiap 4 sampai 6 jam sesuai kebutuhan untuk mengurangi nyeri sampai maksimal 8 tablet per hari. Tramazed dapat diberikan tanpa memperhatikan makanan.
<br/>PEDIATRIK (ANAK DI BAWAH 16 TAHUN)<br/>
Keamanan dan efektivitas dari Tramazed belum ditetapkan untuk kelompok pediatrik.<br/>
LANJUT USIA (GERIATRIK)<br/>
<b>Kemasan</b><br/>
Dus, 3 Blister @ 6 Tablet salut selaput
Reg. No. DKL 1616112217 A1
</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>